html {
    height: 100%;
    width: 100%;
    background-color: #231F20;
    background-image: url("pictures/bg.jpg");
    background-repeat: repeat-x;
}
#gamePerspective {
    perspective: 1000px;
}
#gameWindow {
    margin: -1% auto auto;
    width: 50.5%;
    height: 865px;
    border-color: black;
    border-width: 3px 12px 10px 12px;
    border-style: solid;
    background-color: steelblue;
    background-image: url("pictures/texture1.jpg");
    transform-style: preserve-3d;
    transform: rotateX(70deg);

        /*TEXT IN CENTER*/
        /*justify-content: center;*/
        /*display: flex;*/
}
#f1 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 120px auto auto 60px;
    height: 24%;
    width: 24%;
}
#f2 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 120px auto auto auto;
    height: 24%;
    width: 24%;
}
#f3 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 120px 60px auto auto;
    height: 24%;
    width: 24%;
}
#f4 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 385px auto auto 60px;
    height: 22%;
    width: 22%;
}
#f5 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 385px auto auto auto;
    height: 22%;
    width: 22%;
}
#f6 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 385px 60px auto auto;
    height: 22%;
    width: 22%;
}
#f7 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 625px auto auto 60px;
    height: 22%;
    width: 22%;
}
#f8 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 625px auto auto auto;
    height: 22%;
    width: 22%;
}
#f9 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 625px 60px auto auto;
    height: 22%;
    width: 22%;
}
.hitFields {
    border: 10px solid black;
    border-radius: 50%;
    background: white radial-gradient(ellipse, black, #000000, #070707, #1d1d1d, #bebebe);
}
#downSide {
    position: absolute;
    border: 4px solid #0a0a0a;
    border-left-width: 9px;
    border-right-width: 7px;
    border-bottom-width: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-image: url("pictures/texture2.jpg");
    height: 267px;
    width: 87.2%;
    margin: -188px auto auto;
    left: 0;
    right: 0;
}
#upSide {
    position: absolute;
    border: 4px solid black;
    height: 300px;
    width: 36%;
    left: 0;
    right: 0;
    margin: 33px auto auto;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-image: url("pictures/texture1.jpg");

}
#hit1 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 378px auto auto 35%;
    width: 132px;
    height: 0;
    z-index: 300;
    background-image: url("pictures/monkas1.png");
}

#hit2 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 378px auto auto 45%;
    width: 132px;
    height: 0;
    z-index: 300;
    background-image: url("pictures/monkas1.png");
    transform: scale(-1, 1);
}

#hit3 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 378px auto auto 58%;
    width: 132px;
    height: 0;
    z-index: 300;
    background-image: url("pictures/monkas1.png");
    transform: scale(-1, 1);
}
#hit4 {
     position: absolute;
     left: 0;
     right: 0;
     margin: 464px auto auto 31%;
     width: 152px;
     height: 0;
     z-index: 300;
     background-image: url("pictures/monkas2.png");
 }

#hit5 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 464px auto auto 48%;
    width: 152px;
    height: 0;
    z-index: 300;
    background-image: url("pictures/monkas2.png");
}

#hit6 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 464px auto auto 62%;
    width: 152px;
    height: 0;
    z-index: 300;
    background-image: url("pictures/monkas2.png");
    transform: scale(-1, 1);
}
#hit7 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 597px auto auto 21%;
    width: 186px;
    height: 0;
    z-index: 300;
    background-image: url("pictures/monkas3.png");
    transform: scale(-1, 1);

}

#hit8 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 597px auto auto 43%;
    width: 186px;
    height: 0;
    z-index: 300;
    background-image: url("pictures/monkas3.png");
    transform: scale(-1, 1);

}

#hit9 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 597px auto auto 70%;
    width: 186px;
    height: 0;
    z-index: 300;
    background-image: url("pictures/monkas3.png");
}
.monkasi {
    border: 0 groove black;
    border-left-width: 3px;
}

.monkasi:hover {
    cursor: pointer;
}
#button-start {
    z-index: 1111111111111111111111111111111;
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
}
#sText {
    position: absolute;
    z-index: 1111111111111111111111111111111;
    margin-top: 90px;
    margin-left: 30px;
    color: snow;
}
#score {
    position: absolute;
    margin-top: 90px;
    z-index: 1111111111111111111111111111111;
    margin-left: 120px;
    color: snow;
}

@font-face {
    font-family: DigiDigi;
    src: url("pictures/digidigi.ttf");
}

#clock {
    position: absolute;
    z-index: 1111111111111111111111111111111;
    margin: 120px auto auto auto;
    left: 0;
    right: 0;
    color: lawngreen;
    border-width: 6px;
    border-color: #448700;
    border-style: groove;
    border-radius: 18px;
    width: 200px;
    height: 50px;
    justify-content: center;
    display: flex;
    font-size: 60px;
    background-image: url("pictures/green.jpg");
    font-family: DigiDigi, "Times New Roman", serif;
}

#bars {
    background: white;
    width: 0;
    height: 0;
    position: absolute;
    z-index: 1111111111111111111111111111111;
    margin: 120px 0px 0px 20px;
}

.difftext {
    position: relative;
    color: snow;
    top: 10px;
    left: 10px;
}

.diffbar {
    background: lightgrey;
    width: 300px;
    height: 30px;
    position: relative;
    top: 10px;
    left: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}


.difflvl {
    position: relative;
    right: 290px;
    background: darkgrey;
    width: 300px;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-transition: right 3s, background 3s;
    -moz-transition: right 3s, background 3s;
    -o-transition: right 3s, background 3s;
    transition: right 3s, background 3s;
}

.diffbar:hover .difflvl {
    right: 0;
}

.diffbar #lvl-1:target {
    background: green;
    right: 90%;
}

.diffbar #lvl-2:target {
    background: green;
    right: 75%;
}

.diffbar #lvl-3:target {
    background: orange;
    right: 50%;
}

.diffbar #lvl-4:target {
    background: red;
    right: 25%;
}

.diffbar #lvl-5:target {
    background: darkmagenta;
    right: 10%;
}
.diffClick
{
    position: absolute;
    z-index: 1111111111111111111111111111111;
    margin: 190px 0px 0px 30px;
}

a { margin: 5px;

}

 /*TODO: IZEDITOVATI DA BUDU KAO DUGMICI I DA SE NA TAJ NACIN BIRA TEZINA*/
a:visited
{
    color: mediumpurple;
}
a:focus
{
    color: rebeccapurple;
}

a:hover
{

}